.detalhesContainer {
    display: flex;
    align-items: top;
    gap: 20px;
    padding: 20px;
    width: auto;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 1rem;
}
.detalhes-im {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.detalhesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}