@import url(./partials/fonts.css);
@import url(./partials/normalize.css);
@import url(./partials/variables.css);
@import url(./partials/body.css);
@import url(./partials/header.css);
@import url(./partials/footer.css);
@import url(./partials/loader.css);
