.card {
    position: relative;
    width: 200px;
    height: 300px;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--cinza-escuro);

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.card h3 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 8px 0;
    backdrop-filter: blur(5px);
}

.card:hover {
    transform: scale(1.08);
}