.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}
.spinner{
    width: 50px;
    height: 50px;
    border-top: 5px solid var(--destaque);
    border-radius: 50%;
    animation: girar 1s linear infinite;
}
@keyframes girar {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}